<h1>Editing Single Item Types Physical State</h1>

<%= render 'form', single_item_types_physical_state: @single_item_types_physical_state %>

<%= link_to 'Show', @single_item_types_physical_state %> |
<%= link_to 'Back', single_item_types_physical_states_path %>
