<% title 'Physical States' %>
<h1>Editing Physical State</h1>

<%= render 'form', physical_state: @physical_state %>

<%= link_to 'Show', @physical_state %> |
<%= link_to 'Back', physical_states_path %>
