<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @physical_state_type.name %>
</p>

<%= link_to 'Edit', edit_physical_state_type_path(@physical_state_type) %> |
<%= link_to 'Back', physical_state_types_path %>
